 body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #c1b7b7;
      }
      #form {
        width: 400px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px #000;
        text-align: center;
      }
      #form h1 {
        margin-bottom: 40px;
        font-size: 24px;
        color: #333;
      }
      #user, #pass {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
      }
      #btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 25px;
      }
